.box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    background: rgb(164, 164, 164);
    background: -moz-radial-gradient(circle, rgba(164, 164, 164, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(164, 164, 164, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(circle, rgba(164, 164, 164, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4a4a4", endColorstr="#000000", GradientType=1);
}